.container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.indiv{
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}
.inp{
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    width:15rem;

}
.lab{
    font-size: 1.25rem;
}

.btn{
    background-color:lightblue;
    width:10rem;
    border-radius: 0.5rem;
}
.col{
    color: black;
}

.btdiv{
    display: flex;
    justify-content: end;
    margin:2rem;
}